/*Changer le fond de la page */
body {
  font-family: Arial, sans serif;
  background-color: #f2f2f2
  text-align: center;
  margin-top: 50px;
}
/* Style du titre */
h1 {
  color: #2c3e50;
  font-size: 2.5em;
}
/* Style du paragraphe */
p {
  color: #34495e;
  font-size: 1.2em;
}
.container {
  max-width: 900px;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2c3e50;
  margin-top: 40px;
}
